<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fs.rubbish.mapper.RubbishListMapper">
    
    <resultMap type="RubbishList" id="RubbishListResult">
        <result property="listId"    column="list_id"    />
        <result property="rubbishUrl"    column="rubbish_url"    />
        <result property="rubbishName"    column="rubbish_name"    />
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="disposalWay"    column="disposal_way"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRubbishListVo">
        select list_id, rubbish_url, rubbish_name, category_id, category_name, disposal_way, create_by, create_time, update_by, update_time, remark from rubbish_list
    </sql>

    <select id="selectRubbishListList" parameterType="RubbishList" resultMap="RubbishListResult">
        <include refid="selectRubbishListVo"/>
        <where>  
            <if test="rubbishUrl != null  and rubbishUrl != ''"> and rubbish_url = #{rubbishUrl}</if>
            <if test="rubbishName != null  and rubbishName != ''"> and rubbish_name like concat('%', #{rubbishName}, '%')</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="disposalWay != null  and disposalWay != ''"> and disposal_way = #{disposalWay}</if>
        </where>
    </select>
    
    <select id="selectRubbishListByListId" parameterType="String" resultMap="RubbishListResult">
        <include refid="selectRubbishListVo"/>
        where list_id = #{listId}
    </select>
        
    <insert id="insertRubbishList" parameterType="RubbishList" useGeneratedKeys="true" keyProperty="listId">
        insert into rubbish_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rubbishUrl != null">rubbish_url,</if>
            <if test="rubbishName != null and rubbishName != ''">rubbish_name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="categoryName != null">category_name,</if>
            <if test="disposalWay != null">disposal_way,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rubbishUrl != null">#{rubbishUrl},</if>
            <if test="rubbishName != null and rubbishName != ''">#{rubbishName},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="disposalWay != null">#{disposalWay},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRubbishList" parameterType="RubbishList">
        update rubbish_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="rubbishUrl != null">rubbish_url = #{rubbishUrl},</if>
            <if test="rubbishName != null and rubbishName != ''">rubbish_name = #{rubbishName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="disposalWay != null">disposal_way = #{disposalWay},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where list_id = #{listId}
    </update>

    <delete id="deleteRubbishListByListId" parameterType="String">
        delete from rubbish_list where list_id = #{listId}
    </delete>

    <delete id="deleteRubbishListByListIds" parameterType="String">
        delete from rubbish_list where list_id in 
        <foreach item="listId" collection="array" open="(" separator="," close=")">
            #{listId}
        </foreach>
    </delete>
</mapper>