<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fs.rubbish.mapper.RubbishBucketMapper">

    <resultMap type="RubbishBucket" id="RubbishBucketResult">
        <result property="bucketId"    column="bucket_id"    />
        <result property="lng"    column="lng"    />
        <result property="lat"    column="lat"    />
        <result property="bucketName"    column="bucket_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRubbishBucketVo">
        select bucket_id, lng, lat, bucket_name, create_by, create_time, update_by, update_time, remark from rubbish_bucket
    </sql>

    <select id="selectRubbishBucketList" parameterType="RubbishBucket" resultMap="RubbishBucketResult">
        <include refid="selectRubbishBucketVo"/>
        <where>
            <if test="lng != null  and lng != ''"> and lng = #{lng}</if>
            <if test="lat != null  and lat != ''"> and lat = #{lat}</if>
            <if test="bucketName != null  and bucketName != ''"> and bucket_name like concat('%', #{bucketName}, '%')</if>
        </where>
    </select>

    <select id="selectRubbishBucketById" parameterType="String" resultMap="RubbishBucketResult">
        <include refid="selectRubbishBucketVo"/>
        where bucket_id = #{bucketId}
    </select>

    <insert id="insertRubbishBucket" parameterType="RubbishBucket" useGeneratedKeys="true" keyProperty="bucketId">
        insert into rubbish_bucket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lng != null">lng,</if>
            <if test="lat != null">lat,</if>
            <if test="bucketName != null">bucket_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lng != null">#{lng},</if>
            <if test="lat != null">#{lat},</if>
            <if test="bucketName != null">#{bucketName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateRubbishBucket" parameterType="RubbishBucket">
        update rubbish_bucket
        <trim prefix="SET" suffixOverrides=",">
            <if test="lng != null">lng = #{lng},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="bucketName != null">bucket_name = #{bucketName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>

            <if test="applyUserId != null">apply_user_id = #{applyUserId},</if>
            <if test="applyUserName != null">apply_user_name = #{applyUserName},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="instanceId != null">instance_id = #{instanceId},</if>
            <if test="processKey != null">process_key = #{processKey},</if>
        </trim>
        where bucket_id = #{bucketId}
    </update>

    <delete id="deleteRubbishBucketById" parameterType="String">
        delete from rubbish_bucket where bucket_id = #{bucketId}
    </delete>

    <delete id="deleteRubbishBucketByIds" parameterType="String">
        delete from rubbish_bucket where bucket_id in
        <foreach item="bucketId" collection="array" open="(" separator="," close=")">
            #{bucketId}
        </foreach>
    </delete>
</mapper>
